<div class="header-top-area">
    <div class="fixed-header-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12">
                   <h3 style="margin-top:10px; color: #FFFFFF; text-align: center"> <strong>Plate - forme de suivi scolaire des élèves - Monecolier</strong></h3>
                    <div class="admin-logo logo-wrap-pro">
                       
                        
                    </div>
                </div>
             
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="header-right-info">
                        <ul class="nav navbar-nav mai-top-nav header-right-menu">
                          
                            
                            <li class="nav-item">
                                <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
                                       
                                    <span class="admin-name">{{username}} est connecté </span> &nbsp;<i class="fa fa-sign-in big-icon"></i>
                                   
                                </a>
                                <ul role="menu" class="dropdown-header-top author-log dropdown-menu animated flipInX">
                                    <li><a href="" ><i class="fa fa-user"></i> Mon Compte</a>
                                    </li>
                                    <hr/>
                                    <li><a href="" (click)="logout()"><i class="fa fa-lock"></i> Deconnexion</a> 
                                    </li>
                                </ul>
                            </li>

                           
                        </ul>
                    </div>
                   
                </div>
                
            </div>
        </div>
    </div>
</div>
